<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doctorondemand.doctorondemand">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/drlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/drlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loadingbar"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".editprofile" />
        <activity android:name=".Myprofiledoctor" />
        <activity android:name=".MyAccountDoctor" />
        <activity android:name=".findmydoctor.DoctorProfile" />
        <activity android:name=".findmydoctor.findmydoctor" />
        <activity android:name=".MyAccount" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".loginactivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>